<html>
<head>
</head>
<body>
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" bordercolor="#000066" width="600" cellpadding="5">
<tr>
	<td colspan="2" bgcolor="#B5CBEF" height="45" width="100%" bordercolor="#FFFFFF" align="center">
		<a href="/request/new/">New Request</a> | 
		<a href="/request/incoming/">Received Request</a> | 
		<a href="/request/outgoing/">Sent Request</a> | 
		<a href="/request/all/">All Messages</a>
	</td>
</tr>
</table>
<form enctype='multipart/form-data' action='/request/new/' method='post'>
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" bordercolor="#000066" width="600" cellpadding="5">
{% if message_list %}
	{% for key,value in message_list.items %}
		<div align="left" width="30px;" style="font-weight: normal; font-family: Verdana; font-size: 7px;">
			<b>{{ key }}:</b> {{ value }}
		</div>
	{% endfor %}
{% endif %}
</table>
</form>
<br><br>
</body>